@inherits LayoutComponentBase

@attribute [Authorize]

<AuthorizeView>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>

    <Authorizing>Loading...</Authorizing>

    <Authorized>

        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <div class="main">
                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>

    </Authorized>
</AuthorizeView>
