<AuthorizeView>
    <Authorized>
        <a href="/Account/Manage">Hello, @context.User.Identity.Name!</a>

        <form method="post" action="@LogoutUrl?.Invoke()">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="@RegisterUrl?.Invoke()">Register</a>
        <a href="@LoginUrl?.Invoke()">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{

    [Parameter] public Func<string> RegisterUrl { get; set; }

    [Parameter] public Func<string> LoginUrl { get; set; }

    [Parameter] public Func<string> LogoutUrl { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }
}
